.content{
font-size: 15px;
background-color: var(--content-color);
padding-top:20px;
width: 100%;
height: 100%;
display: flex;
background: linear-gradient(180deg, var( --content-color), var( --footer-color));

&__h4{
  color:var(--text-color);

}


}
.paragraf{
  display: greed;
  greed-template-columns:repeat(auto-fill, minmax(200px,1fr));
  gap:20px;
  padding:50px;
  color:var(--text-color);
  margin-top: 10px;
}

.image{
  width:28%;
margin:20px;}

