.content{
  display: flex;
  flex-direction:column;
font-size: 25px;
background-color: #FFF8DC;
padding-top:20px;
width: 100%;
height: 100%;
&__h4{
 color:green;


}
&__paragraf{
color: green;
margin-top: 70px;
}


}
