.header {
  padding: 0;
  margin: 0;
  height: 100%px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 background-color:#F5DEB3;
  font-family: "Roboto Condensed", sans-serif;



     &__title {
     font-size: 200%;
     color:green;
    letter-spacing: 3px;
    text-transform:uppercase;}}

.navbar {
    font-size: 13px;

    &__link{
        text-decoration: none;
        color: green;
        align-self: center;
       padding: 10px 15px;
    }

      }





