.footer{
  background: var(--footer-color);
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;


  &__h3{
    font-size: 20px;
    padding-left:20px;
  }
  &__search{
    width: 442px;
    height: 45px;
    color: #919eb1;
    padding-left: 27px;
    font-size: 15px;

  }

}
.links{
  display: flex;
  justify-content: space-between;
  padding-right: 90px;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;

&__link{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;
  }
}



