.footer{
  background: var(--footer-color);
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;


  &__h3{
    font-size: 20px;
    padding-left:80px;
  }
  &__search{
    width: 300px;
    height: 35px;
    color: #919eb1;
    padding-left: 40px;
    font-size: 13px;

  }

}
.links{
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;

&__link{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;
  }
  &__link:hover{
    color:var(--header-color);}
}



